.paiAsideEnquete {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

}

.cardInfo {
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    color: #446376;
    box-shadow: 0 1px 3px 1px #44637633;
}

.headerBlog {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: solid 1px rgb(231, 226, 226);
}

.cardInfo div h1 {
    display: flex;
    height: 10%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.75px;
    line-height: 20px;
    color: rgb(51, 51, 51);
    margin-bottom: 0.5rem;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
}

.cardInfo div article {
    font-size: 1rem;
    letter-spacing: -1px;
    font-family: opensans, opensans-bastian, Arial, sans-serif;
    font-weight: 700;
    color: #06aa48;
    max-width: 13rem;
    padding: 1rem 1rem 1rem 0rem;
    line-height: 1.1 !important;
}

.cardInfo section {
    display: flex;
    padding: 1rem;
    border-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(231, 226, 226), rgba(0, 0, 0, 0)) 1;
    ;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .headerBlog {
        justify-content: center;
    }
}