.jogo {
    background: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.title {
    display: flex;
    position: relative;
    width: 55%;
    justify-content: space-between;
}
.title h1 {
    font-size: 1.2rem;
    font-weight: bold;
}
.title h3 {
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(61, 62, 63);
}
.title select {
    font-size: 1.3rem;
    max-width: 20%;
    min-width: 200px;
    background-color: white;
    border-bottom: black 1px solid;
    /* margin: 0 auto; */
}

.ulPalpite {
    transition:all 0.5s 0s ease;
    width: 100%;
}

.liPalpite {
    display: flex;
    border-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right,rgba(0, 0, 0, 0), rgb(231, 226, 226), rgba(0, 0, 0, 0)) 1;   
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}
@media(max-width: 500px) {
    .contentContainer {
        padding: 3rem 0;
    }
}

.inputPalpiteDisabled {
    border: 1px solid  rgb(231, 226, 226);
    width: 3rem;
    height: 3rem;
    background-color: #e4e4e4; 
    text-align: center;
    font-size: 1.5rem;
}

.inputPalpite {
    border-bottom: 1px solid  black;
    width: 3rem;
    height: 3rem;
    /* background-color: #e4e4e4;  */
    text-align: center;
    font-size: 1.5rem;
}

.spanPalpiteX {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pPalpite {
    font-size: 0.9rem;
}
.spanPalpiteTime{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem !important;
}
@media(max-width: 500px) {
    .spanPalpiteTime {
        font-size: unset !important;
    }
}
.imgPalpite {
    padding-bottom: 5px;
    height: 3rem;
    width: auto;
}
@media(max-width: 500px) {
    .imgPalpite {
        height: 4rem;
    }
}
.acao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.acaoEditar {
    height: 1rem;
}

@media(max-width: 500px) {
    .acao {
        gap: 1.5rem;
    }
    .acaoEditar {
        height: 1.3rem;
    }
}
.buttonEditar {
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
}
.buttonExcluir {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 10px;
    color: white;
    white-space: nowrap;
}
.buttonSalvar {
    background-color: rgb(92, 231, 92);
    padding: 10px;
    border-radius: 10px;
}
.menuHidden {
    opacity: 0;
}