@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.fecharModal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #24a57c;
    margin-bottom: 0.5rem;
}

.logoText {
    font-family: "Bowlby One SC", cursive;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #126e51;
    margin-top: 3px;
}

.contentModalBlog {
    display: flex;
    flex-direction: column;
}

.contentModalBlog h1 {
    color: black;
    font-weight: bold;
}

.contentModalBlog h6 {
    display: flex;
    width: 100%;
    justify-content: end;
    color: black;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.contentModalBlog div {
    color: black;
    font-style: oblique;
}

.contentModal {
    background: #fff;
    border-radius: 10px;
    width: 28rem;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px 1px #44637633;
}

@media screen and (max-width: 600px) {
    .contentModal {
        width: 90%;
    }
}