header {
    width: 100vw;
    height: 10rem;
}

.Header1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #126e51;
    height: 50%;
}

.Header1 span {
    padding: 0.5rem;
    cursor: pointer;
    color: #e4e4e4;
    border-radius: 8px;
}

.Header1 span:hover {
    background: #24a57c;
    transition: all 0.5s 0s ease;
}


.Header1 img{
    width: 26rem;
}

.subHeader{
    margin-top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #383838;
    height: 50%;
    padding-bottom: 0.5rem;
}

.subHeader li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.5rem;
    color: #e4e4e4;
    border-radius: 8px;
    align-items: center;
    gap: 5px;
    min-width: 128px;
}

.subHeader li img {
    width: 40px;
    height: 40px;
    /* background: white; */
}

.subHeader li:hover {
    background: #605d5d;
    transition: all 0.5s 0s ease;
}