.homeAdmin{
    height: 100vh;
    display: grid;
    grid-template-rows: 4em 1fr;
    grid-template-columns: 0rem 1fr;
    grid-template-areas:
    "header header"
    "menu content" ;
    transition: grid-template-columns 1s ease;
    grid-template-columns: 10rem 1fr;
}
.homeAdminHideMenu {
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 10rem 1fr;
    grid-template-areas:
    "header header"
    "menu content" ;
    transition: grid-template-columns 1s ease;
    grid-template-columns: 0rem 1fr;
}
.buttonMenu {
    height: 2rem;
}
.divIconMenu{
    position: absolute;
    top: 0.5rem;
    left: 5%;
    background: #24a57c;
    cursor: pointer;
    transition: all 0.5s 0s ease;   
    padding: 7px 10px;
    border-radius: 10%;
}

@media (max-width: 500px) {
    /* .homeAdminHideMenu {
        transition:none;
        grid-template-columns: 0rem 1fr !important;
    } */
    .homeAdmin {
        /* transition:none; */
        grid-template-columns: 0rem 1fr !important;
    }
}